<ion-view title="About">
  <ion-content class="padding">

<p>Zend On The Go is a mobile application designed by Zend and written by Julien Guittard, PHP Architect and Zend Framework community member.</p><br>

 

<p>The application is a sample application written using <a href="http://www.zend.com/en/products/studio" target="_blank">Zend Studio</a>. It leverages <a href="http://framework.zend.com" target="_blank">Zend Framework 2</a>, and the API Builder <a href="https://apigility.org" target="_blank">Apigility</a>. For the backend it uses <a href="http://www.zend.com/en/solutions/cloud-solutions/aws-marketplace" target="_blank">Zend Server on Amazon Web Services</a>.</p><br>

 

<p>The application is designed to demonstrate how to use all the Zend products together to create a mobile application on a robust backend.  The application code is available on GitHub (<a href="https://github.com/zendtech/on-the-go-mobile" target="_blank">Mobile</a> and <a href="https://github.com/zendtech/on-the-go-api" target="_blank">Server</a>). A contest is opened to add functionality.</p><br>

 

<p>Learn more at:<br> <a href="http://www.zend.com/en/products/zendonthego" target="_blank">http://www.zend.com/en/products/zendonthego</a></p>
  </ion-content>
</ion-view>