<ion-view title="Settings">
  <ion-content class="padding">
    <button class="button button-block button-assertive" ng-click="logout()">
      Logout
    </button>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Key Name</span>
        <input type="text" placeholder="Key Name" ng-model="settings.name" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Key Hash</span>
        <input type="text" placeholder="Key Hash" ng-model="settings.hash" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Server</span>
        <input type="text" placeholder="Server" ng-model="settings.server" required>
      </label>
      <button class="button button-block button-positive" type="submit" ng-click="saveSettings()">
        Save Settings
      </button>
      <button class="button button-block button-energized" ng-click="clearSettings()">
        Clear
      </button>
    </div>
  </ion-content>
</ion-view>
