<style>
.box {
  width: 100%;
  height: 200px;
}
.box h1 {
  color: white;
}
.box.yellow {
  background-color: yellow;
}
.box.blue {
  background-color: blue;
}
.box.pink {
  background-color: pink;
}
.box.green {
  background-color: green;
}
.box.orange {
  background-color: orange;
}
</style>
<ion-view title="Stats">
  <ion-content class="padding">
    <!--<highchart config="chartConfig"></highchart>-->
    <ion-slide-box show-pager="false">
	  <ion-slide>
	       <highchart id="chart8" config="chartConfig"></highchart>
	  </ion-slide>
	  <ion-slide>
	    <div class="box blue"><h1>Req / s</h1></div>
	  </ion-slide>
	  <ion-slide>
	    <div class="box yellow"><h1>Avg Response Time</h1></div>
	  </ion-slide>
	  <ion-slide>
	    <div class="box pink"><h1>Processing Break Down</h1></div>
	  </ion-slide>
	  <ion-slide>
	    <div class="box green"><h1>CPU Usage</h1></div>
	  </ion-slide>
</ion-slide-box>
  </ion-content>
</ion-view>
