<ion-view title="Stats">
  <ion-content class="padding">
    <ion-slide-box show-pager="false" ng-hide="loading" on-slide-changed="changeChart(index)">
	  <ion-slide>

		<highchart config="chartConfig" id="chart-req"></highchart>
	  </ion-slide>
	  <ion-slide>
	   <highchart config="chartConfig" id="chart-art"></highchart>
	  </ion-slide>
	  <ion-slide>
	  <highchart config="chartConfig" id="chart-cpu"></highchart>
	  </ion-slide>
      <ion-slide>
      <highchart config="chartConfig" id="chart-mem"></highchart>
      </ion-slide>
</ion-slide-box>
<label class="item item-input item-select">
    <div class="input-label">
      Time range
    </div>
    <select ng-model="timeRange" ng-change="changeTimeRange(timeRange)">
        <option value="2h">2 hours</option>
        <option value="1d">1 day</option>
        <option value="7d">1 week</option>
        <option value="14d">2 weeks</option>
    </select>
  </label>
  </ion-content>
</ion-view>
