<ion-view title="Home">
  <ion-content class="padding">
    <h1><center>Welcome to <br>Zend OnTheGo</center></h1>
    <p>A sample mobile application that monitors your server and gives you live statistics on your server performance.</p>
    <p>This mobile app is intented for demo purposes. The application and source code are available with Zend Studio and on GitHub.  A contest is open to developers who will add features. Learn more about the contest <a href="http://www.zend.com/en/products/zendonthego">here</a>.</p>
    <br>
    <h4>Monitor</h4>
<p>Check the status of your deployed  app any time anywhere. See all the issues, from slow requests, function errors, exception, warnings, database errors, etc.
You can even share the issues with someone on your contact list.</p>
<br>
<h4>Stats</h4>
<p>See how your server is performing. Get information on memory availability, CPU usage, and more.</p>
  </ion-content>
</ion-view>
