<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0"
 id="com.zend.onthego" version="2.0">
    <name>Zend OnTheGo</name>
    <description>Zend On The Go is a sample mobile application designed to show developers how to create mobile applications on top of existing PHP back-ends.</description>
    <author email="support@zend.com" href="http://onthego.zend.com">Zend Team</author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
