<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0"
	android-versionCode="3" id="com.zend.onthego" version="1.2">
	<name>Zend OnTheGo</name>
	<description>A sample Ionic Framework app using Cordova and AngularJS
	</description>
	<author email="support@zend.com" href="http://onthego.zend.com">Zend Team</author>
	<content src="index.html" />
	<access origin="*" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="false" />
	<preference name="UIWebViewBounce" value="false" />
	<preference name="DisallowOverscroll" value="true" />
</widget>
